<% provide(:title, "Home Page") %>
<!-- header and nav  -->
<div class="main-header-wrapper">
<%= render 'layouts/partials/navbar' %>
	<div id="header-wrapper">
		<div class="header">
		</div>
		<div class="custom-container">
			<div class="welcome-heading">
				<h1>Welcome back Mickey!</h1>
			</div>
			<div class="course-heading">
				<h3>Computer Science Level - 6</h3>
			</div>
			<div class="profile-picture">
				<img width="200" height="200" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973461_960_720.png">
			</div>
			<div class="header-image">
				<%= image_tag("index-page/header/header-image.png") %>
			</div>
		</div>
	</div>
</div>
<!-- header and nav  -->

<!-- main content section -->
<div class="main-container">
	<div class="profile">
		<div class="box-icons">
			<%= image_tag("index-page/main-box/profile.png") %>
		</div>
		<div class="profile-heading">
			<h1>Profile</h1>
		</div>
	</div>

	<div class="events">
		<div class="box-icons">
			<%= image_tag("index-page/main-box/events.png") %>
		</div>
		<div class="events-heading">
			<h1>Events</h1>
		</div>

	</div>

	<div class="chat">
		<div class="box-icons">
			<%= image_tag("index-page/main-box/chat.png") %>
		</div>
		<div class="chat-heading">
			<h1>Chat</h1>
		</div>
	</div>

	<div class="coursework">
		<div class="box-icons">
			<%= image_tag("index-page/main-box/coursework.png") %>
		</div>
		<div class="coursework-heading">
			<h1>Coursework</h1>
		</div>
	</div>

	<div class="exam">
		<div class="box-icons">
			<%= image_tag("index-page/main-box/exam.png") %>
		</div>
		<div class="exam-heading">
			<h1>Exam</h1>
		</div>
	</div>

	<div class="posts">
		<div class="box-icons">
			<%= image_tag("index-page/main-box/exam.png") %>
		</div>
		<div class="posts-heading">
			<h1>Posts</h1>
		</div>
	</div>

	<div class="messageboard">
		<div class="box-icons">
			<%= image_tag("index-page/main-box/messageboard.png") %>
		</div>
		<div class="messageboard-heading">
			<h1>Message board</h1>
		</div>
	</div>

	<div class="calendar">
		<div class="calendar-heading">
			<h1>Calendar</h1>
		</div>
	</div>
</div>
<!-- main content section -->


